* {
    margin: 0;
    padding: 0;
}
.wrapper {
    display: flex;
}

/* เมนูด้านข้าง */
aside {
    width: 25%;
 
    background: linear-gradient(180deg, #f7f1f3, #e7d7e7);
}
aside ul {
    list-style-type: none;
    padding-left: 15px;
}
aside ul li {
    margin: 10px 0;
    padding: 10px 0px 10px 10px;
    border-radius: 10px;
}
aside ul a {
    text-decoration: none;
    color: #000;
    font-size: 18px;
}
aside img {
    width: 60px;
    height: auto;
    margin-left: 32px;
    margin-top: 45px;
    margin-bottom: 35px;
}
aside ul img {
    width: 20px;
    height: 20px;
    margin: 0 10px 5px 0;
}
aside ul .user {
    background-color: #e7d7e7;
    border-top-left-radius: 10px;
    border-top-right-radius: 0;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 0;
}
aside ul .unuser {
    margin: 10px 10px;
    border-radius: 10px;
}
.unuser:hover {
    background-color: #d5d4d4;
}

/* เนื้อหา */
section {
    width: 1100px;
    padding: 100px;
    background: linear-gradient(180deg, #e7d7e7,#e7d7e7,#e7d7e7,#e7d7e7, #ffffff);
    background-color: #faf8fc;
}
section h1 {
    font-size: 30px;
    margin-bottom: 40px;
}
section table img{
    width: 20px;
}
.btn {
    width: 50px;
    margin-left: 1px;
    padding: 0;
}

/* ค้นหา */
.search {
    margin-bottom: 20px;
}
.search #search-input {
    width: 89%;
    height: 40px;
    padding: 0 0 0 20px;
    border: none;
    border-radius: 5px;
    margin-right: 10px;
}
.search #submit-input {
    padding: 7px 20px;
    height: 40px;
    background-color:#ffd28c;
    border: none;
    border-radius: 5px;
    transition: 0.5s;
    color: #111111;
}
.search #submit-input:hover {
    background-color: #f4b37a;
}

/* ตารางข้อมูล */
table {
    width: 100%;
    border-collapse: collapse; /* เส้นด้านข้างรวมกัน */
    background-color: white;
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
}
table th,td {
    padding: 20px;
    text-align: center;
}
table th {
    background-color: #999;
    font-weight: bold;
}
table .btn:hover {
background-color: rgb(242,199,199);
}


/* ป๊อปอัพขึ้น */
.modal-header {
    background-color: #e7d7e7;
}

/* ตารางป๊อปอัพขึ้น */
#exampleModal table tr td {
  padding: 15px;
    text-align: left;
}
.modal table tr th{
  padding: 15px;
  text-align: left;
  border-radius: 10px;
}
.modal table tr td{
    padding: 15px;
    text-align: left;
    background-color: #e2dfdf70;
    border-radius: 10px;
  }

.modal table th {
    background-color: #ffffff;
    font-weight: bold;
}



.delete{
        background-color: rgba(208, 70, 70, 0.706);
        position: relative; 
        right: -600px;
        border: none;
        padding: 10px 12.5px;
        margin-bottom: 20px;
        border-radius: 10px;
        margin-top: 10px;
        width: 80px;
}

.recover {background-color: #ffd28c;
    padding: 5px 10px;
    text-decoration: none;
    color: inherit;
    border: none;
    border-radius: 10px;
    cursor: pointer;
}

.transparent-btn:hover {
    color: #000000e5; /* สีปุ่มเมื่อเม้าชี้ */
    font-weight: bold;
}

.pagination {
    display: flex;
    justify-content: center;
    margin-bottom: 50px;
}

.pagination .active span {
    background-color: #ffd28c;
    color: #000;
    border-color: #ffd28c;
}

.pagination a, .pagination span {
    color: #000; /* เปลี่ยนสีข้อความเป็นสีขาว */
}
