* {
    margin: 0;
    padding: 0;
    font-family: "ka";
}
.wrapper {
    display: flex;
}

@font-face {
    font-family: "ka";
    src: url(/Kanit/Kanit-Regular.ttf);
}

/* เมนูด้านข้าง */
aside {
    width: 25%;
    height: 200vh;
    background: linear-gradient(180deg, #f7f1f3, #e7d7e7);
}
aside ul {
    list-style-type: none;
    padding-left: 15px;
}
aside ul li {
    margin: 10px 0;
    padding: 10px 0px 10px 10px;
    border-radius: 10px;
}
aside ul a {
    text-decoration: none;
    color: #000;
    font-size: 18px;
}
aside img {
    width: 60px;
    height: auto;
    margin-left: 32px;
    margin-top: 45px;
    margin-bottom: 35px;
}
aside ul img {
    width: 20px;
    height: 20px;
    margin: 0 10px 5px 0;
}
aside ul .user {
    background-color: #e7d7e7;
    border-top-left-radius: 10px;
    border-top-right-radius: 0;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 0;
}

aside ul .unuser {
    margin: 10px 10px;
    border-radius: 10px;
}
.unuser:hover {
    background-color: #d5d4d4;
}

/* เนื้อหา */
section {
    width: 1100px;
    padding: 100px;
    background: linear-gradient(180deg, #e7d7e7,#e7d7e7,#e7d7e7,#e7d7e7, #ffffff);
    background-color: #faf8fc;
}
section h1 {
    font-size: 30px;
    margin-bottom: 40px;
}
section table img{
    width: 20px;
}

/* ค้นหา */
.search {
    margin-bottom: 20px;
}
.search #search-input {
    width: 89%;
    height: 40px;
    border-radius: 5px;
    margin-right: 10px;
}
.search #submit-input {
    padding: 7px 20px;
    height: 40px;
    background-color:#ffd28c;
    border: none;
    border-radius: 5px;
    transition: 0.5s;
    color: #111111;
}
.search #submit-input:hover {
    background-color: #f4b37a;
}

/* ตารางข้อมูล */
table {
    width: 100%;
    border-collapse: collapse; /* เส้นด้านข้างรวมกัน */
    background-color: white;
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
}
table th,td {
    padding: 20px;
    text-align: center;
}
table th {
    background-color: #999;
    font-weight: bold;
}
table .btn:hover {
  background-color: rgb(185, 94, 94);
}


/* ป๊อปอัพขึ้น */
.modal-header {
    background-color: #999;
}

/* ตารางป๊อปอัพขึ้น */
#exampleModal table {
  text-align: right !important;
}
#exampleModal table th {
    background-color: #ffffff;
    font-weight: bold;
}

.ceate-bt button {
    width: 100%;
    background-color: #ffd28c;
    padding: 15px;
    margin-bottom: 20px;
}
.ceate-bt button:hover {
    background-color: #f4b37a;
}

.table-bt,.table-bt-t {
    border: none;
    background-color:#4e96e88a;
    padding: 10px 12.5px;
    margin-bottom: 20px;
    border-radius: 10px;
    margin-top: 10px;
}
.table-bt-t {
    background-color: rgba(208, 70, 70, 0.706);
    padding: 10px 20px;
}
.table-bt:hover {
    background-color:#417fc68a;
}
.table-bt-t:hover {
    background-color: rgba(165, 55, 55, 0.706);
}

/* แบบฟอร์มสร้างปาร์ตี้ */
label {
    font-weight: bold;
    margin-top: 15px;
    margin-bottom: 5px;
}
input[type="text"],input[type="date"],input[type="number"],textarea,
select {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}
select {
    appearance: none;  /* ลบสไตล์เริ่มต้น */
}
textarea {
    height: 100px;
}
.form-buttons button{
    width: 100%;
    background-color: #ffd28c;
    padding: 10px 20px;
    border: none;
    margin-top: 30px;
    border-radius: 10px;
}
.form-buttons button:hover {
    background-color: #f4b37a;
}

.transparent-btn {
    background-color: transparent;
    border: none;
    color: inherit;
    cursor: pointer;
    text-decoration: none;
}

.transparent-btn:hover {
    color: rgba(117, 117, 130, 0.133); /* เปลี่ยนสีเมื่อมีการ hover */
}
.ceate-bt {
    display: flex;
    gap: 5px;
}
.ceat {
    width: 95% !important;
}
.fromm {
    display: flex;
    gap: 5px;
    font-size: 10pt;
}
.fromm button {
    border: none;
    border-radius: 10px;
    background-color: #999;
}
.fromm button:hover {
    background-color: #8d8a8a;
}

.active {
    background-color: #ffffff; 
    color: #000;
}

.active a {
    font-weight: bold;

}

.transparent-btn:hover {
    color: #000; /* สีปุ่มเมื่อเม้าชี้ */
    font-weight: 600;
}

.pagination {
    display: flex;
    justify-content: center;
    margin-bottom: 50px;
}

.pagination .active span {
    background-color: #ffd28c;
    color: #000;
    border-color: #ffd28c;
}

.pagination a, .pagination span {
    color: #000; /* เปลี่ยนสีข้อความเป็นสีขาว */
}
