@font-face {
    font-family: fontwin;
    src: url(font/Mitr/Mitr-Light.ttf);
}
* {
    padding: 0;
    margin: 0;
}
body {
    background-image: linear-gradient(to bottom, rgba(243, 218, 195, 0.637) 4%,rgba(98, 64, 190, 0.24) 90%);
    background-repeat: no-repeat;
    background-attachment: fixed;  
    background-size: cover;
    align-items: center;
}

.review-btn {
    display: none;
}

.btn-warning, .btn-secondary {
    margin: none;
}
.btn-success{
    background: #ffd28c;
    color: #333;
    border: none;
    border-radius: 20px;
}
.btn-warning, .btn-secondary{
    background: #cbb7b5;
    color: #333;
    border: none;
    border-radius: 20px;
}
.btn-disabled, #submit-btn {
    background-color: #ffd28c;
    border: none;
    padding: 10px 20px;
    border-radius: 20px;
    color: #000000;
    font-size: 1rem;
}
.btn-success:hover, .btn-warning:hover, .btn-secondary:hover {
    background-color: #e67e22;
    color: white;
}
#favorite-icon {
    color: #e62222 ;
    font-size: 3rem;
    cursor: pointer;
    transition: 0.3s;
}
#favorite-icon:hover {
    transform: scale(1.2); 
}
#favorite-icon.bi-heart-fill {
    transform: scale(1.2);
}
.favorite-button {
    background: none;
    border: none;
}


.mx-3 {
    color: black;
    text-decoration: none;
}
.mx-3.active {
    color: #e67e22;
}
.container {
    margin-top: 100px !important ;
    margin-left: 55px;
}


.text-danger {
    color: #ee6464 !important;
}


.btn-primary {
    background: #ffd28c;
    color: #333;
    border: none;
    border-radius: 20px;
}

.btn-primary:hover {
    background-color: #e67e22;
    color: white;
}

h2 {
    font-size: 1.8rem;
    font-weight: bold;
}

ul li {
    margin-bottom: 25px;
    font-size: 1.1rem;
}

.btn-success,.btn-warning, .btn-secondary{
    background: #ffd28c;
    color: #333;
    border: none;
    border-radius: 20px;
}

.btn-disabled, #submit-btn {
    background-color: #ffd28c;
    border: none;
    padding: 10px 20px;
    border-radius: 20px;
    color: #000000;
    font-size: 1rem;
}

.btn-success:hover, .btn-warning:hover, .btn-secondary:hover {
    background-color: #e67e22;
    color: white;
}


div.row{

    margin-top: 8%;
    width: 100%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
div.col{
    width: 40%;
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    margin: 10px;
    display: flex;
}
.card{
    width: 60%;
    margin-right: 20px;
}
div.col img{
    width: 100px;
    margin-left: 5px;
}
div.col .content{
    width: 40%;
}


.favorite-button {
    color: #e62222;
    font-size: 1.5rem;
    cursor: pointer;
    transition: transform 0.3s ease;
}

.favorite-button:hover {
    transform: scale(1); 
}

.numpeople{
    color: #18a938;
    font-size: large;
    text-align: end;
}

.buttons {
    display: flex;
    gap: 10px;
}